<!-- aboutus.html -->
{% extends 'notes/base.html' %}

{% block content %}
<div class="py-12 px-4 sm:px-6 lg:px-8 flex justify-center">
  <div class="w-full md:w-1/2">
    <h1 class="text-3xl text-center font-semibold mb-4">About Us</h1>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <p class="text-gray-700 text-base font-semibold">Welcome to our Notes Management app, we provide you with easy to use electronic notes which is handy and you can use it anywhere from any place, this is designed especially for the some job professionals who want to access their daily tasks, daily routine to follow and other necessary things which may not be stored in mind, well it can be stored here, so use our software with full enthusiasm.

      <span class="font-bold text-lg block mt-5">Thankyou.</span>
      </p>
    </div>
  </div>
</div>
{% endblock %}
