{% extends 'notes/base.html' %}

{% block content %}

<div class="flex justify-center">
    <div class="w-full sm:w-1/2">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Login</h2>

        {% if form.non_field_errors %}
        <small class="text-red-500">
            {{ form.non_field_errors.as_ul }}
        </small>
        {% endif %}

        <form method="POST" action="{% url 'login' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.username.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                <input type="text" name="{{ form.username.name }}" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ form.username.value }}" />
                {% if form.username.errors %}
                <span id="user" class="text-red-500 text-xs italic">{{ form.username.errors }}</span>
                {% endif %}
            </div>

            <div class="mb-6">
                <label for="{{ form.password.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                <input type="password" name="{{ form.password.name }}" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ form.password.value }}" />
                <span id="pass" class="text-red-500 text-xs italic">{{ form.password.errors }}</span>
            </div>

            <div class="flex items-center justify-start">
                <button type="submit" class="bg-gray-800 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-gray-700">Login</button>
                <a href="{% url 'register' %}" class="inline-block align-baseline font-bold text-sm text-gray-600 hover:text-gray-800 mx-5">Register</a>
            </div>
        </form>
    </div>
</div>

<script>
    username = document.getElementById("user")
    pass = document.getElementById("pass")
    
    setTimeout(() => {
        username.style.display = 'none'
    }, 2000)
    setTimeout(() => {
        pass.style.display = 'none'
    }, 2000)
</script>

{% endblock %}
